:root {
  --theamBackgroudColor: #0f2f44;
  --headingFont: "Abril Fatface", cursive;
  --secondHedingFont: "Ubuntu", sans-serif;
  --commonFont: "Open Sans", sans-serif;
  --whiteColor: #d4d7d9;
  --blackText: #222222;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: 0px;
}

body {
}

h1,
h2 {
}

h3,
h4,
h5,
h6,
a,
button {
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  width: 1176px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

#topbar {
  background-color: var(--theamBackgroudColor);
  height: 51px;
}

#topbar .row {
  justify-content: space-between;
}

#topbar .row p {
  color: var(--whiteColor);
  font-family: var(--secondHedingFont);
  font-size: 16px;
  margin-top: 18px;
}

#navbar .row {
  justify-content: space-between;
  align-items: center;
}

#navbar ul li a {
  color: var(--blackText);
  font-family: var(--secondHedingFont);
  font-weight: bold;
  padding: 43px 20px;
  transition: all 0.6s ease 0s;
}

#navbar button {
  height: 30px;
  width: 30px;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  margin: 0px 10px;
  transition: all 0.6s ease 0s;
  background: rgb(255, 255, 255);
}

#navbar ul li:hover a,
#navbar button:hover,
#banner button:nth-last-child(1):hover,
#banner button:hover {
  background-color: rgb(255, 249, 230);
  color: rgb(255, 199, 18);
}

#banner {
  background: url("../img/background_1.jpg") center center / cover;
  height: 600px;
  width: 100%;
}

#banner .row,
h1,
h2,
h3 {
  display: block;
  line-height: 0;
}

#banner .row h2 {
  font-family: var(--secondHedingFont);
  font-size: 50px;
  color: var(--theamBackgroudColor);
  font-weight: 400;
  padding-top: 147px;
}

#banner .row h1 {
  font-family: var(--headingFont);
  font-size: 80px;
  color: var(--theamBackgroudColor);
  font-weight: 400;
  padding-top: 55px;
}

#banner .row h3 {
  font-family: var(--secondHedingFont);
  font-size: 32px;
  color: rgb(132, 132, 191);
  font-weight: 400;
  letter-spacing: 8px;
  padding-top: 60px;
}

#banner p {
  width: 465px;
  padding-top: 35px;
  line-height: 20px;
  color: rgb(68, 68, 68);
  font-family: var(--commonFont);
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 33px;
}

#banner button {
  background-color: rgb(132, 132, 191);
  color: rgb(255, 255, 255);
  border-radius: 6px;
  height: 49px;
  width: 164px;
  border: none;
  font-family: var(--secondHedingFont);
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
  transition: all 0.6s ease 0s;
}

#banner button:nth-last-child(1) {
  height: 50px;
  width: 50px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 50%;
  text-align: center;
  color: rgb(132, 132, 191);
  margin-left: 10px;
  padding: 0px 20px;
  cursor: pointer;
  transition: all 0.6s ease 0s;
}

#about_us {
  height: 1200px;
  padding-top: 101px;
}

#about_us .about1,
.about2,
.about3,
.about4 {
  width: 50%;
}

#about_us .about1 p,
.about4 p {
  font-family: var(--secondHedingFont);
  font-size: 14px;
  font-weight: 400;
  color: var(--theamBackgroudColor);
}

#about_us .about1 h3,
.about4 h3 {
  font-family: var(--headingFont);
  font-size: 32px;
  font-weight: 400;
  color: var(--theamBackgroudColor);
  padding-top: 25px;
}

#about_us .about1 p:nth-child(3),
.about4 p:nth-child(3) {
  font-family: var(--secondHedingFont);
  font-size: 16px;
  font-weight: 400;
  color: var(--theamBackgroudColor);
  padding-top: 35px;
  line-height: 25px;
}

#about_us .about1 p:nth-child(4) {
  font-family: var(--secondHedingFont);
  font-size: 16px;
  font-weight: 400;
  color: var(--theamBackgroudColor);
  width: 571px;
  padding-top: 35px;
  line-height: 35px;
  padding-left: 30px;
}

#about_us .about1 button {
  width: 142px;
  height: 46px;
  font-family: var(--secondHedingFont);
  font-weight: 600;
  font-size: 20px;
  color: var(--theamBackgroudColor);
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: rgb(136, 136, 136) 3px 5px 13px;
  margin-left: 10px;
  margin-top: 10px;
  transition: all 0.5s ease 0s;
}

#about_us .about1 button:hover {
  background-color: rgb(255, 199, 18);
}

#about_us .about4 {
  text-align: right;
}

#about_us .about3 img {
  width: 100%;
  margin-top: 130px;
  margin-left: -70px;
}

#about_us .about4 p {
  font-family: var(--secondHedingFont);
  font-size: 14px;
  font-weight: 400;
  color: var(--theamBackgroudColor);
  padding-top: 40px;
}

#about_us .about4 .skils_items {
  width: 85%;
}

#about_us .about4 .skils_items h4 {
  font-family: var(--secondHedingFont);
}

#about_us .skils {
  margin-top: 10px;
  align-items: center;
}

#about_us .skils .skils_items {
  margin-top: 20px;
}

#about_us .skils .logo {
  margin-top: 20px;
}

#about_us .outer {
  width: 100%;
  height: 12px;
  background-color: rgb(221, 221, 221);
  border-radius: 6px;
  margin-top: 5px;
}

#about_us .inner {
  height: 12px;
  margin-left: auto;
  border-radius: 0px 6px 6px 0px;
  position: relative;
}

#about_us .inner span {
  position: absolute;
  left: 0px;
  top: -30px;
  font-family: var(--secondHedingFont);
  font-weight: 600;
  font-size: 18px;
}

#about_us .about4 .logo {
  width: 15%;
}

#about_us .about4 .logo img {
  border: 10px solid rgb(255, 255, 255);
  border-radius: 50%;
  background: rgb(224, 224, 224);
  box-shadow: rgb(94, 94, 94) 4px 4px 8px, rgb(255, 255, 255) -4px -4px 8px;
}

#our_service {
  height: 425px;
  width: 100%;
  background: rgb(245, 245, 245);
}

#our_service .our_service_heading,
.portfolio_heading,
#our_latest_blogs .our_latest_blogs_heading {
  display: block;
  margin: auto;
  text-align: center;
}

#our_service .our_service_heading p,
.portfolio_heading p,
.our_latest_blogs_heading p {
  padding-top: 64px;
  font-size: 14px;
  color: var(--theamBackgroudColor);
  font-family: var(--secondHedingFont);
}

#our_service .our_service_heading h3,
.portfolio_heading h3,
.our_latest_blogs_heading h3 {
  font-family: var(--headingFont);
  font-size: 32px;
  font-weight: 400;
  color: var(--theamBackgroudColor);
  padding-top: 20px;
}

#our_service .service_info {
  width: calc(33.3333% - 30px);
  margin: 50px 15px;
  border-radius: 6px;
  background-color: rgb(233, 233, 233);
  align-items: center;
  height: 184px;
  position: relative;
}

#our_service .service_info .service_info_img {
  width: 20%;
  border-radius: 6px 0px 0px 6px;
  position: relative;
}

#our_service .service_info .service_info_img img {
  display: block;
  margin: auto;
}

#our_service .service_info .info_section {
  width: 80%;
  background-color: rgb(238, 238, 238);
  padding: 30px 23px;
  height: 100%;
}

#our_service .service_info .info_section h4 {
  font-size: 20px;
  font-weight: 600;
  font-family: var(--secondHedingFont);
  color: rgb(34, 34, 34);
}

#our_service .service_info .info_section p {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--commonFont);
  color: rgb(68, 68, 68);
  margin-top: 10px;
}

#our_service .service_info .overlay {
  position: absolute;
  inset: 0px;
  background-color: var(--theamBackgroudColor);
  border-radius: 6px;
  transform: scale(0);
  transition: all 0.8s ease 0s;
}

#our_service .service_info:hover .overlay {
  transform: scale(1);
}

#our_service .service_info .overlay .icon {
  padding-top: 30px;
}

#our_service .service_info .overlay img {
  display: block;
  margin: auto;
}

#our_service .service_info .overlay h4 {
  color: rgb(255, 255, 255);
  font-family: var(--secondHedingFont);
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

#our_service .service_info .overlay a {
  background-color: rgb(255, 199, 18);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  margin-left: 159px;
  margin-top: 29px;
}

#our_service .service_info .overlay a i {
  font-size: 20px;
  color: var(--theamBackgroudColor);
  padding: 9px 0px;
}

#our_portfolio {
  height: 824px;
  width: 100%;
  background: rgb(255, 255, 255);
}

#our_portfolio .portfolio_pic_section {
  margin-top: 64px;
  justify-content: space-between;
}

#our_portfolio .portfolio_pic_section .pic {
  box-shadow: rgba(0, 0, 0, 0.65) 10px 16px 65px -9px;
}

#our_portfolio .portfolio_pic_section .pic img {
  display: block;
  z-index: 1;
}

#our_portfolio .pic {
  position: relative;
}

#our_portfolio .pic .overlay {
  background-color: rgb(255, 255, 255);
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 76px;
  bottom: 0px;
  transform: scaleY(0);
  transition: all 1s ease 0s;
}

#our_portfolio .pic:hover .overlay {
  transform: scaleY(1);
  transition: all 0.6s ease 0s;
}

#our_portfolio .pic .overlay h3 {
  font-family: var(--secondHedingFont);
  color: var(--theamBackgroudColor);
  font-weight: 600;
  font-size: 20px;
  margin: auto;
  text-align: center;
  padding-top: 30px;
}

#our_portfolio .container .browes_all,
#our_latest_blogs .container .browes_all {
  padding-top: 60px;
  text-align: center;
}

#our_portfolio .container .browes_all a,
#our_latest_blogs .container .browes_all a {
  display: inline-block;
  margin: auto;
  color: var(--theamBackgroudColor);
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: rgb(255, 199, 18);
  transition: all 0.5s ease 0s;
  font-family: var(--secondHedingFont);
  transition: 0.5s;
}

#our_portfolio .container .browes_all a:hover,
#our_latest_blogs .container .browes_all a:hover {
  font-size: 25px;
}

#our_testimonial {
  width: 100%;
  height: 444px;
  background-color: rgb(245, 245, 245);
}

#our_testimonial .our_testimonial_heading {
  display: block;
  margin: auto;
  text-align: center;
}

#our_testimonial .our_testimonial_heading p {
  padding-top: 64px;
  font-size: 14px;
  color: var(--theamBackgroudColor);
  font-family: var(--secondHedingFont);
}

#our_testimonial .our_testimonial_heading h3 {
  font-family: var(--headingFont);
  font-size: 32px;
  font-weight: 400;
  color: var(--theamBackgroudColor);
  padding-top: 20px;
}

#our_testimonial .row {
  justify-content: space-between;
}

#our_testimonial .customers_reviews {
  width: 571px;
  height: 215px;
  background-color: rgb(233, 233, 233);
  margin-top: 60px;
  display: inline-flex;
  border-radius: 6px;
}

#our_testimonial .customers_reviews .customers_reviews_image {
  width: 15%;
}

#our_testimonial .customers_reviews .customers_reviews_image img {
  display: block;
}

#our_testimonial .customers_reviews .comments {
  width: 57%;
  margin-top: 48px;
}

#our_testimonial .customers_reviews .comments p {
  font-family: var(--commonFont);
  font-size: 14px;
  font-weight: 400;
  color: var(--theamBackgroudColor);
}

#our_testimonial .customers_reviews .comments h3 {
  font-family: var(--secondHedingFont);
  font-size: 20px;
  font-weight: 600;
  color: var(--theamBackgroudColor);
  margin-top: 20px;
}

#our_testimonial .customers_reviews .comments p:nth-child(3) {
  font-family: var(--commonFont);
  font-size: 18px;
  font-weight: 400;
  color: var(--theamBackgroudColor);
  margin-top: 18px;
}

#our_latest_blogs {
  width: 100%;
  height: 904px;
}

#our_latest_blogs .row {
  justify-content: space-between;
}

#our_latest_blogs .row .our_latest_blogs_img {
  width: 352px;
  height: 478px;
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  margin-top: 70px;
  transition: all 1s ease 0s;
  cursor: pointer;
}

#our_latest_blogs .our_latest_blogs_img img {
  display: block;
  margin: 20px auto auto;
  width: 311px;
}

#our_latest_blogs .our_latest_blogs_img .our_latest_blogs_img_title {
  padding: 22px;
  text-align: left;
}

#our_latest_blogs .our_latest_blogs_img .our_latest_blogs_img_title p {
  color: rgb(119, 119, 119);
  font-family: var(--secondHedingFont);
  font-size: 14px;
  font-weight: 400;
  transition: all 0.06s ease 0s;
}

#our_latest_blogs .our_latest_blogs_img .our_latest_blogs_img_title h4 {
  color: rgb(34, 34, 34);
  font-family: var(--secondHedingFont);
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  transition: all 0.06s ease 0s;
}

#our_latest_blogs .our_latest_blogs_img .our_latest_blogs_img_title a {
  margin-top: 10px;
  font-family: var(--secondHedingFont);
  font-size: 16px;
  color: rgb(34, 34, 34);
  transition: all 0.06s ease 0s;
}

#our_latest_blogs .our_latest_blogs_img .our_latest_blogs_img_title a i {
  padding: 6px 0px 0px 5px;
  transition: all 0.06s ease 0s;
}

#our_latest_blogs .row .our_latest_blogs_img:hover{
  background-color: rgb(15, 47, 68);
  color: white;
  cursor: pointer;
}

#our_latest_blogs .row .our_latest_blogs_img:hover p {
  color: rgb(255, 255, 255);
}

#our_latest_blogs .row .our_latest_blogs_img:hover h4 {
  color: rgb(255, 255, 255);
}

#our_latest_blogs .row .our_latest_blogs_img:hover a {
  color: rgb(255, 255, 255);
}

#our_latest_blogs .row .our_latest_blogs_img_title:hover p {
  color: rgb(255, 255, 255);
}

#our_latest_blogs .row .our_latest_blogs_img_title:hover h4 {
  color: rgb(255, 255, 255);
}

#our_latest_blogs .row .our_latest_blogs_img_title:hover a {
  color: rgb(255, 255, 255);
}

#footer {
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: 400px;
  box-shadow: rgb(217, 217, 217) 0px 5px 52px 12px;
}

#footer .social_icon {
  height: 255px;
  width: 254px;
  margin-top: 52px;
}

#footer .social_icon img {
  margin-top: 50px;
}

#footer .social_icon p {
  font-size: 14px;
  font-family: var(--commonFont);
  font-weight: 400;
  text-align: justify;
  color: rgb(119, 119, 119);
  margin-top: 20px;
}

#footer .social_icon ul li a {
  width: 40px;
  height: 40px;
  border: var(--theamBackgroudColor) solid 2px;
  border-radius: 50%;
  text-align: center;
  padding-top: 10px;
  margin-top: 20px;
  margin-right: 7px;
  transition: all 0.8s ease 0s;
  color: rgb(15, 47, 68);
  font-size: 18px;
}

#footer .social_icon ul li:hover a {
  background-color: rgb(15, 47, 68);
  color: rgb(255, 255, 255);
}

#footer .contact_us .address .icon {
  width: 10%;
  align-items: center;
}

#footer .contact_us .address .add {
  width: 90%;
}

#footer .contact_us {
  width: 267px;
  height: 226px;
  margin-top: 116px;
  margin-left: 50px;
}

#footer .contact_us h4,
#footer .important_links h4,
#footer .filckr_stream h4 {
  color: rgb(15, 47, 68);
  font-family: var(--secondHedingFont);
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 20px;
}

#footer .contact_us p {
  font-size: 15px;
  font-family: var(--commonFont);
  font-weight: 400;
  margin-bottom: 20px;
}

#footer .contact_us .icon i {
  font-size: 20px;
  padding-top: 10px;
}

#footer .important_links {
  width: 193px;
  height: 226px;
  margin-top: 115px;
  margin-left: -4px;
}

#footer .important_links ul li {
  display: block;
  font-family: var(--secondHedingFont);
  font-size: 17px;
  padding: 0px 0px 20px;
  transition: all 0.6s ease 0s;
}

#footer .important_links ul li:hover {
  padding: 0px 0px 20px 20px;
}

#footer .important_links ul li a {
  color: rgb(15, 47, 68);
  font-weight: 500;
}

#footer .filckr_stream {
  width: 398px;
  height: 270px;
  margin-top: 117px;
  margin-left: 18px;
}

#footer .filckr_stream .pic_section {
  width: 100%;
  height: 178px;
}

#footer .container .row {
  margin-top: 8px;
}

#footer .copyright_section {
  width: 100%;
  height: 80px;
  text-align: center;
}

#footer .copyright_section p {
  font-family: var(--secondHedingFont);
  font-size: 18px;
  font-weight: 400;
  color: #777777;
  padding-top: 38px;
}
